body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% de la hauteur de la vue */
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 150px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

main {
    flex: 1; /* Le contenu prend autant d'espace que possible */
    padding: 20px;
}

.footercont {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto; /* Le footer est collé en bas de la page */
}
