{% load static %}

<html>
    <head>
        {% block title %} {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>

    <body>
        <header>
            <nav> <!-- ##############################       NAV       ###########################-->
                <ul>
                    {% if user.is_staff %}
                    <li><a href='/admin'>Admin</a></li>
                    {% endif %}

                    <li><a href="{% url 'homepage' %}">Home</a></li>

                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Log out</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Log in</a></li>
                    {% endif %}

            {% for message in messages %}
            <div class="alert"><!--#########################  ALERT BOX   #############################-->
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
            {% endfor %}
        </header>
        <main><!--###############################   BODY   #####################################-->
        {% block body %} {% endblock %}
        </main>


        <footer><!-- #######################    FOOTER   #################################-->
            <div class="footercont">
                <p><span class="footer-title">About :</span><br>Website created by Maxime Rowell as en exercise during Simplon's Dev IA course</p>
                <p><span class="footer-title">Contact</span><br>Email : rowell.maxime2001@gmail.com</p>
            </div>
        <footer>
    </body>

</html>